@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

:root {
  font-family: "Roboto-Slab";
  /* text */
  --primary: #000000;
  --primaryHover: #1d1d1d;
  --secondary: #ebebeb;

  /* bg */
  --background: #dddddd;

  /* btn */
  --red: #ee4444;
  --redHover: #e24040;

  /* stars */
  --star: #ffaa22;

  /* borders */
  --bsm: 10px;
  /* spacing */

  --sm: 1em;
  --md: 2em;

  /* font-size */
  --logo: 1.3rem;
  --fsm: 1.3rem;
  --fmd: 1.8rem;
}

#app {
  font-family: "Roboto-Slab", serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  overflow: auto;
}

i {
  color: var(--primary);
  cursor: pointer;
}

i:hover {
  transform: translateY(-5%);
  color: var(--primaryHover);
}

button {
  cursor: pointer;
}
